/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 10px;
    padding: 10px;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color:orange;
    font-size: 25px;
}

header {
    text-align: center;
    padding: 100px;
}

header img {

    max-width: 270px;

    float: left; /* Align the logo to the left */

    margin-top: 10; /* Remove margin to align the logo at the top */

    margin-right: 50px; /* Add margin for spacing */

}


nav ul {
    list-style: none;
    text-align: center;
    background-color: #333;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section#about,
section#products {
    padding: 20px;
    text-align: center;
}

.product-item {
    display: inline-block;
    margin: 10px;
    text-align: center;

}

.product-item img {
    max-width:400px; /* Adjust the product image size as needed */
    /*max-width: 100%; /* Adjust the product image size as needed */
    max-height: 300px;
}
.product-item button{
    padding: -px;
}